.md-prevnext-tab {
    display: none;
}

.md-prevnext-tab-sel {
    display: block;
}

.md-prev-btn,
.md-next-btn {
    position: absolute;
    top: 50%;
    margin-top: -35px;
    width: 35px;
    height: 70px;
    background: rgba(0, 0, 0, .5);
    line-height: 70px;
    font-size: 25px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.md-prev-btn {
    left: 0;
}

.md-next-btn {
    right: 0;
}