.image-card{
    width: 100px;
    height: 60px;
    float:left;
    
}
.text-format{
    font-size: 16px;
    margin-left: 45%;
    margin-bottom: 5%;
    font-weight: bold;
    overflow: inherit ;
    text-overflow: inherit ;
    white-space: normal;   
}

.text-date{
    font-size: 12px;
    margin-left: 45%;
    margin-bottom: 5%;
    color:#757575;
}